$colorPrimario: #b7dfe7;
$colorSecundario: #f2f2f2;
$colorFooter: #333333;

$fontstext: 'Open Sans', sans-serif;
$fontstitle: 'Roboto', sans-serif;

$backgroundColorOne: #fff;
$backgroundColorTwo: $colorSecundario;
